.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color1);
    font-family: var(--font2);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color5);
    padding: 50px;
    border-radius: 7px;
}