.container{
    position: relative;
    width: 250px;
    height: 320px;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    color: var(--color1) ;
    font-family: var(--font1);
    font-size: 2.3em;
    text-align: center;
}

.card:hover{
    transform: rotateY(180deg);
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--color2);
    border-radius: 4px 4px ;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--color4);
    transform: rotateY(180deg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font2);
    border-radius: 4px 4px ;
    font-size: 0.7em;
}

.front > img{
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}