.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0%;
    width: 100%;
}
.header>h1{
    font-family: 'Qwitcher Grypen', cursive;
    color: var(--color2);
    font-size: 4em;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.link{
    font-size: 2em;
    padding: 10px 0px;
    font-family: 'Kavivanar', cursive;
    color: var(--color1);
}